.cards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 2rem;

  @media (max-width: 1927px) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  @media (max-width: 1356px) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  @media (max-width: 886px) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  @media (max-width: 517px) {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }
}
