&.home-page {
  min-height: 100vh;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .image {
      padding: 0 3rem;
      max-width: 50rem;
      @media (max-width: 400px) {
        padding: 0;
      }
    }
  }
}
