&.home-page {
  min-height: 100vh;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

    .image {
      padding: 0 2rem;
      max-width: 40rem;
    }
    .content {
      // padding: 4rem;
      flex: 1 1 35rem;
      // border: 1px solid blue;
      display: flex;
      gap: 4rem;
      flex-direction: column;
      align-items: center;
    }

    &__blank {
      flex: 1 1 35rem;
      // border: 1px solid red;
    }
  }
}
