.article {
  @include app-horizontal-padding;
  @include app-vertical-padding;

  width: 100%;
  display: flex;
  justify-content: center;

  @import "./home-page";
  @import "./not-found";
  @import "./is-loading";
  @import "./is-error";
}
