// Partials
@import "partials/index";

// Mixins
@import "./mixins/index";

// Components
@import "./components/index";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global

.app {
  margin: 0 auto;
  width: 100%;
  max-width: $app-max-width;
  min-height: 100%;
}

body {
  font-size: 1.6rem;
  color: $text-color-dark;
}

img {
  width: 100%;
  height: auto;
}
