// Partials
@import "partials/index";

// Mixins
@import "./mixins/index";

// Layout
@import "./layout/index";

// Components
@import "./components/index";

// Utilities
@import "./utilities/index.scss";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// Global

.app {
  width: 100%;
}

body {
  font-size: 1.6rem;
  color: $text-color-dark;
  background-color: $background-color;
}
main {
  @include app-horizontal-padding;
  @include app-vertical-padding;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: $container-max-width;
}

img {
  width: 100%;
  height: auto;
}
