a.list-link {
  font-size: $body-text-size;
  text-transform: capitalize;
  color: $accent-color;
  transition: color $time;

  @media (hover: hover) {
    &:hover {
      color: $accent-color-hover;
    }
  }
}
