.list-anchor {
  min-width: 25rem;
  font-size: $body-text-size;
  text-transform: capitalize;
  transition: color $time;

  @media (hover: hover) {
    &:hover {
      color: $accent-color;
    }
  }
}
