.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  background-color: #eee;

  @include app-horizontal-padding;
  @include app-vertical-padding;
  transition: left $time;
  z-index: 999;

  &.open {
    left: 0;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}
