.header {
  background-color: #000;

  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 750px) {
    align-items: flex-start;
  }

  .heading {
    color: $text-color-light;
  }

  .body-text {
    color: $body-text-color-light;
  }

  .list-item--name {
    color: $body-text-color-light;
  }

  .list-item--value {
    color: $text-color-light;
  }

  @include app-vertical-padding;
  @include app-horizontal-padding;

  @media (min-width: 2561px) {
    min-height: 120rem;
    max-height: 200rem;
  }

  .container {
    position: relative;
    display: grid;

    &--film {
      gap: 6rem;
      grid-template-columns: 10fr 19fr;

      .image {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
          width: 100%;
          max-width: 60rem;
          height: auto;
        }
      }
    }

    &--generic {
      max-width: 120rem;
      grid-template-columns: 11.3rem 1fr;

      .category {
        display: grid;
        place-content: center;
        @include background-colors;

        .rotate {
          rotate: -90deg;
          font-size: 5rem;
          font-weight: 400;
          text-transform: uppercase;
          color: $text-color-dark;
        }

        @media (max-width: 750px) {
          display: none;
        }
      }
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }

  .content {
    display: flex;
    gap: 6rem;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 750px) {
      @include glass-bg;
      padding: 6rem;
    }
  }
}
