.header {
  background-color: #000;

  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 750px) {
    align-items: flex-start;
  }

  .heading {
    color: $text-color-light;
  }

  .body-text {
    color: $body-text-color-light;
  }

  .list-item--name {
    color: $body-text-color-light;
  }

  .list-item--value {
    color: $text-color-light;
  }

  @include app-vertical-padding;
  @include app-horizontal-padding;

  @media (min-width: 2561px) {
    min-height: 120rem;
    max-height: 200rem;
  }

  .container {
    position: relative;
    max-width: 150rem;

    display: grid;
    gap: 6rem;
    grid-template-columns: 10fr 19fr;

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }

  .icon {
    display: grid;
    place-content: center;

    svg {
      width: 15rem;
      height: auto;
    }
  }

  .image {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 100%;
      max-width: 60rem;
      height: auto;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;
    gap: 4rem;
  }

  .list {
    @media (min-width: $mobile) {
      @include glass-bg;
      padding: 4rem;
    }
  }
}
