.header {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  @include app-vertical-padding;
  @include app-horizontal-padding;

  @media (min-width: 2561px) {
    min-height: 120rem;
    max-height: 200rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    @media (max-width: 836px) {
      flex-direction: column;
    }
  }

  .image,
  .icon {
    flex: 1 1 35rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1500px) {
      align-items: flex-start;
    }

    img,
    svg {
      width: 100%;
      max-width: 60rem;
      height: auto;
    }
  }

  .content {
    flex: 2 2 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;
    gap: 4rem;

    @media (max-width: 1500px) {
      padding: 0;
      justify-content: flex-start;
    }
  }
}
