.btn {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;

  &--large {
    padding: 3rem 6rem;

    @media (max-width: $mobile) {
      padding: 2rem 4rem;
    }
  }

  &--primary {
    color: $text-color-light;
    background-color: $accent-color;
    transition: background-color $time;

    @media (hover: hover) {
      &:hover {
        background-color: rgba($accent-color, 0.7);
      }
    }
  }

  &--secondary {
    color: $text-color-light;
    background-color: transparent;
    border: 1px solid $body-text-color-light;
    transition: color $time, border-color $time, background-color $time;

    @media (hover: hover) {
      &:hover {
        color: $accent-color;
        border-color: $accent-color;
        background-color: rgba($accent-color, 0.05);
      }
    }
  }

  &--tertiary {
    color: $text-color-dark;
    background-color: transparent;
  }

  &:disabled {
    color: rgba($text-color-dark, 0.7);
    background-color: hsl(0, 0%, 95%);
    cursor: not-allowed;
  }
}
