.statistics {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statistic {
  display: flex;
  align-items: center;
  gap: 5px;

  &__icon {
    svg {
      width: auto;
      height: 3rem;
    }
  }
}
