@mixin glass-bg {
  border: 1px solid transparent;
  border-top-color: rgba($body-text-color-light, 0.2);
  border-left-color: rgba($body-text-color-light, 0.2);
  border-right-color: $body-text-color-dark;
  border-bottom-color: $body-text-color-dark;
  backdrop-filter: blur(3px);
  background-image: linear-gradient(
    to bottom right,
    rgba($body-text-color-light, 0.07),
    rgba($body-text-color-dark, 0.01)
  );
}
