.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include app-horizontal-padding;

  background-color: $text-color-dark;

  .heading {
    color: $text-color-light;
  }

  .body-text {
    color: $body-text-color-light;
  }

  .image {
    max-width: 150px;
  }

  &__extras {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    flex-wrap: wrap;
  }

  &__logo {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    flex-wrap: wrap;

    .list {
      min-width: 25rem;
    }
  }
}
