.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  @include app-horizontal-padding;

  background-color: $text-color-dark;

  .heading {
    color: $text-color-light;
  }

  .body-text,
  .list-anchor,
  .list-link {
    color: $body-text-color-light;
  }

  .image {
    max-width: 150px;
  }

  &__extras {
    @include app-vertical-padding;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
