.list-item {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 4rem;
  row-gap: 2rem;

  &--name,
  &--value {
    text-transform: capitalize;
    font-size: $body-text-size;
  }

  &--name {
    min-width: max-content;
  }

  &--value {
    font-weight: 300;
    .body-text,
    .link-text {
      font-weight: 300;
    }
  }
}
