// Font
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.heading {
  text-transform: uppercase;
  color: $text-color-dark;

  &--h1 {
    margin-bottom: 4rem;
    font-size: $h1-size;
    font-weight: 700;
  }

  &--h2 {
    margin-bottom: 4rem;
    font-size: $h2-size;
    font-weight: 300;
  }

  &--h3 {
    margin-bottom: 1rem;
    font-size: $h3-size;
    font-weight: 600;
  }

  &--h4 {
    margin-bottom: 1rem;
    font-size: $h4-size;
    font-weight: 300;
  }
}

.body-text,
.link-text {
  max-width: 80ch;
  font-size: $body-text-size;
  font-weight: 300;
  line-height: 1.618;

  & + * {
    margin-top: 4rem;
  }
}
