$container-max-width: 1920px;

// Screens
$laptop: 1024px;
$tablet: 820px;
$mobile: 450px;

// Transitions
$time: 0.3s;

// Font sizes
$h1-size: clamp(2.8rem, 5vw, 5.6rem);
$h2-size: clamp(2.4rem, 5vw, 4.8rem);
$h3-size: clamp(1.6rem, 2vw, 2.4rem);
$h4-size: 1.6rem;
$body-text-size: clamp(1.6rem, 2vw, 2.4rem);

// Colors
$text-color-light: hsl(0, 0%, 100%);
$text-color-dark: hsl(195, 33%, 2%);
$body-text-color-light: rgba($text-color-light, 0.7);
$body-text-color-dark: rgba($text-color-dark, 0.7);

$background-color: hsl(0, 0%, 99%);
$grey-color: hsl(0, 0%, 95%);

$accent-color: #0da8d3;
$accent-color-hover: darken($accent-color, 10%);
