$container-max-width: 1920px;

$tablet: 768px;

$time: 0.3s;

$text-color-light: hsl(0, 0%, 100%);
$text-color-dark: hsl(225, 6%, 13%);

$background-color: hsl(0, 0%, 98%);
$accent-color: hsl(356, 89%, 72%);
